<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="Ionicapp" ng-controller="MyCtrl" onload="loaddeals()">

   <ion-view title="Daily Deals">
        <ion-content padding="true">
         
	 


<div id = "container" style = "width:100%; margin-top:5%">
	
  
    <div id ="left" style = "float:left; width: 32%;margin-left:20%">


<a  ui-sref="app.deals">
  
   <div ng-init="bg1d = 'img/discount.jpg'" 
    ng-mouseenter="bg1d = 'img/discounts.jpg'" 
    ng-mouseleave="bg1d = 'img/discount.jpg'" 
    >
	
    <img src="{{bg1d}}"  style="height: 190px; width:90%" ng-click='start_discount()'>
	</div>

</a>


</div>

  <div id ="left" style = "float:left; width: 32%;">
<a  ui-sref="app.deals">
  
  <div ng-init="bg1o = 'img/offers.jpg'" 
    ng-mouseenter="bg1o = 'img/offerss.jpg'" 
    ng-mouseleave="bg1o = 'img/offers.jpg'" 
    >
	
    <img src="{{bg1o}}"  style="height: 190px; width:90%" ng-click='start_offer()'>
	</div>
</a>
</div>

</div>

  <div id ="left" style = "float:left; width: 32%; margin-left:36%;margin-top:3%">
<a  ui-sref="app.deals">
  
   <div ng-init="bg1p = 'img/other.jpg'" 
    ng-mouseenter="bg1p = 'img/others.jpg'" 
    ng-mouseleave="bg1p = 'img/other.jpg'" 
    >
	
    <img src="{{bg1p}}"  style="height: 190px; width:90%" ng-click='start_promotion()'>
	</div>
</a>
</div>

</div>

</div>
	   </ion-content>
    </ion-pane>
	   

        </ion-content>
      </ion-view>

   
  </body>
  
</html>
